*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background: #fff;
}

/*header styling starts here*/
header.header-section > .navbar{
	color: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2em;
	margin: 1.3em 0;
	text-transform: uppercase;
}
header.header-section > .navbar > ul.nav-links{
	display: flex;
}
header.header-section > .navbar > ul.nav-links > li{
	list-style: none;
}
header.header-section > .navbar > ul.nav-links a{
	text-decoration: none;
	font-size: 1.3em;
	padding: 0.8em;
	color: #222;
}
header.header-section > .navbar > div.login{
	display: flex;
}
div.login > img.search{
	padding-left: 2.5em;
}
div.login > img.user{
	padding-left: 1.3em;
}
/*hidding the bars on destop view*/
div.bars{
	display: none;
}
/*hero-section styling*/
header.header-section > div.hero-section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96%;
	margin: auto;
	background: #F9FAFA;
	padding: 2.5em;
}
header.header-section > div.hero-section > div.hero-text{
	width: 600px;
	font-size: 1.2em;
}
div.hero-text > p{
	padding: 30px 0 35px;
}
div.hero-text > a{
	text-decoration: none;
	font-size: 1.2em;
	padding: 0.55em 1.55em;
	color: #fff;
}
div.hero-text a.contact-link{
	background: #F89744;
}
div.hero-text a.contact-link:hover{
	background: #fff;
	color: #F89744;
	border: 1px solid #F89744;
}
div.hero-text a.about-link{
	background: #86D2CE;
	margin-left: 0.15em;
}
div.hero-text a.about-link:hover{
	background: #fff;
	color: #86D2CE;
	margin-left: 0.15em;
	border: 1px solid #86D2CE;
}
header.header-section > div.hero-section > div.hero-img > img{
	width: 100%;
}
/*header styling ends here*/

/*mainb section styling starts here*/
main.main-section{
	margin-top: 4em;
}
main.main-section > section.furniture{
	width: 90%;
	margin: auto;
}
main.main-section > section.furniture > div.furniture-images{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*main section styling ends here*/

/*media query for responsiveness*/
@media screen and (min-width:320px) and (max-width:968px){
	header.header-section > nav.navbar > ul.nav-links,
	header.header-section > nav.navbar > div.login{
		display: none;
	}
	div.bars{
		display: block;
    	cursor: pointer
	}
	div.hero-section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
